<a href="https://colab.research.google.com/github/Keych23/CHECK-POINT-DE-FONTIONS-PYTHON/blob/main/CHECK%20POINT_Structures%20de%20Donn%C3%A9es%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Question 1
def multiplier_liste(liste):
    resultat = 1
    for nombre in liste:
        resultat *= nombre
    return resultat

# Ma Liste d'éléments
Ma_liste = [2, 4, 3]
resultat = multiplier_liste(Ma_liste)

print("Ma liste =", Ma_liste)
print("Résultat =", resultat)

Ma liste = [2, 4, 3]
Résultat = 24

In [2]:
# Question 2
def tri(liste):
    """Trie la liste par le dernier élément de chaque tuple"""
    return sorted(liste, key=lambda x: x[-1])

# Liste donnée
liste_tuples = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

# Utilisation la fonction tri
liste_triee = tri(liste_tuples)

print("Liste originale :", liste_tuples)
print("Liste triée :", liste_triee)

Liste originale : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Liste triée : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
# Question 3
# Dictionnaires donnés
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

# Combinaison des dictionnaires
resultat = d1.copy()

for cle, valeur in d2.items():
    if cle in resultat:
        resultat[cle] += valeur
    else:
        resultat[cle] = valeur

# Afficher le résultat
print("Dictionnaire 1:", d1)
print("Dictionnaire 2:", d2)
print("Dictionnaire combiné:", resultat)

Dictionnaire 1: {'a': 100, 'b': 200, 'c': 300}
Dictionnaire 2: {'a': 300, 'b': 200, 'd': 400}
Dictionnaire combiné: {'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [6]:
# Question 4
def generer_dict_carres(n):
    """Génèrons et affichons un dictionnaire des carrés de 1 à n"""
    # Créer le dictionnaire
    carres = {i: i*i for i in range(1, n + 1)}

    # Affichage en formatage amélioré
    print(f"Dictionnaire des carrés de 1 à {n}:")
    print("{", end="")

    # Affichage de chaque paire clé-valeur
    for i, carre in carres.items():
        if i < n:
            print(f"{i}: {carre}, ", end="")
        else:
            print(f"{i}: {carre}", end="")

    print("}")

    return carres

# Entrée de programme : 8
generer_dict_carres(8)

Dictionnaire des carrés de 1 à 8:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [7]:
# Question 5
# Liste donnée
liste = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

# Trier par élément flottant (ordre croissant)
liste_triee = sorted(liste, key=lambda x: float(x[1]))

# Afficher le résultat
print("Liste originale :", liste)
print("Liste triée (croissant) :", liste_triee)

# Pour un tri décroissant
liste_triee_decroissant = sorted(liste, key=lambda x: float(x[1]), reverse=True)
print("Liste triée (décroissant) :", liste_triee_decroissant)

Liste originale : [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Liste triée (croissant) : [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Liste triée (décroissant) : [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [47]:
# Question 6
# 6.1 Création d'ensemble avec accolades
ensemble1 = {0, 1, 2, 3, 4}
print("6.1 Ensemble créé avec accolades :", ensemble1)

#  6.2 Création d'un exemple d'ensemble
fruits = {"pomme", "banane", "orange", "kiwi", "fraise"}

# Méthode Boucle for simple
print("6.2. Itération avec boucle for simple :")
for fruit in fruits:
    print(f"  - {fruit}")
print()
# 6.3 Création d'un ensemble initial
nombres = {10, 20, 30}
print("6.3 Ensemble initial :", nombres)
# AJOUT D'ÉLÉMENTS
print("\n6.3 Ajout d'élément")

# 6.3.1 Ajout d'un seul élément avec add()
nombres.add(40)
print("6.3.1. Ensemble Après add(40) :", nombres)

# 6.3.2 Ajout de plusieurs éléments avec update()
nombres.update([50, 60, 70])
print("6.3.2. Ensemble Après update([50, 60, 70]) :", nombres)
print()

# 6.4 Demonstration de la suppression de tous les éléments avec clear()
print("\n6.4 Suppression de tous les éléments avec clear")
# Initialiser un ensemble avec les éléments spécifiés
Ensemble_Après_update = {70, 40, 10, 50, 20, 60, 30}
print(f"Ensemble_Après_update() : {Ensemble_Après_update}")

# Utiliser la méthode clear() pour supprimer tous les éléments
Ensemble_Après_update.clear()
print(f"Ensemble_Après_update() : {Ensemble_Après_update}")

print("Le set est maintenant vide.")

6.1 Ensemble créé avec accolades : {0, 1, 2, 3, 4}
6.2. Itération avec boucle for simple :
  - orange
  - banane
  - kiwi
  - pomme
  - fraise

6.3 Ensemble initial : {10, 20, 30}

6.3 Ajout d'élément
6.3.1. Ensemble Après add(40) : {40, 10, 20, 30}
6.3.2. Ensemble Après update([50, 60, 70]) : {70, 40, 10, 50, 20, 60, 30}


6.4 Suppression de tous les éléments avec clear
Ensemble_Après_update() : {50, 20, 70, 40, 10, 60, 30}
Ensemble_Après_update() : set()
Le set est maintenant vide.